 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <title>Document</title>
    
 </head>
 <body>
 
    
    <div class="container">
        <div class="row">
            <div class="col-6"></div>
    
            <div class="col-md-6 col-sm-12" id="add_image">
                <input type="file" name="image" class="form-control" id="id0" src="" alt="">
    
                <br>
            
            </div>
    
        </div>
    
     </div>

     <center><button class="btn btn-outline-primary" id="add_image_field">add image</button>
     

     <script>
       
   

    

</script>
    
 </body>
 </html>
 
